.row.feed(masonry="{ transitionDuration: '0.1s' }", infinite-scroll="self.loadFeed(self.feed.length/10)")
    .col-md-4.col-sm-6.col-xs-12.masonry-brick(ng-repeat="tile in self.feed")
        .tile(ng-if="!tile.type")
            .main(ui-sref="article.id({ id : tile.id, url : tile.url, return : 'feed.all' })")
                img.thumbnail(ng-src='{{ tile.headline_image_url }}', set-size, height='{{tile.headline_image_height}}',
                                                                                width='{{tile.headline_image_width}}')
                a.headline {{tile.headline}}
            .influencer
                img.thumbnail(ng-src='{{ tile.influencer.profile_image_url }}')
                .handle
                    p.bold {{ tile.influencer.twitter_username }}
                    a.color-red(href="{{ 'https://twitter.com/'+tile.influencer.handle }}") {{ tile.influencer.handle }}
                    p {{ tile.original_tweet }}

            .footer
                span {{ tile.created_at | relativeDate }}

        .tile.adv(ng-if="tile.type=='adv'")
            h2 advertisement