.row.feed(masonry)
    .col-md-4.col-sm-6.col-xs-12.masonry-brick(ng-repeat="tile in self.news")
        .tile
            .main(ui-sref='article.id({ url : tile.url })')
                img.thumbnail(ng-src='{{ tile.headline_image_url }}')
                a.headline {{tile.headline}}
            .influencer
                img.thumbnail(ng-src='{{ tile.influencer.profile_image_url }}')
                p.bold {{ tile.influencer.twitter_username }}
                a.color-red(href="{{ 'https://twitter.com/'+tile.influencer.handle }}") {{ tile.influencer.handle }}
                p {{ tile.original_tweet }}

            .footer
                span {{ tile.created_at | relativeDate }}

.col-md-2.col-md-offset-5
    btn.btn.btn-default.btn-more(ng-click='self.loadMore()') MORE BUZZ