.clearfix(infinite-scroll="self.loadFeed()", infinite-scroll-immediate-check='false')
    ul.dynamic-grid(angular-grid='self.feed')
        li.grid(data-ng-repeat='tile in self.feed', ui-sref = "article.id({ id : tile.id, url : tile.url, " +
                                                                            "return : 'feed.all', headline : tile.headline })")
            .tile(ng-if="!tile.type")
                .main
                    img.thumbnail(ng-src='{{ tile.headline_image_url }}', data-actual-width = "{{tile.headline_image_width}}"
                                                                          data-actual-height= "{{tile.headline_image_height}}")
                    a.headline {{tile.headline}}
                .influencer
                    img.thumbnail(ng-src='{{ tile.influencer.profile_image_url }}')
                    .handle
                        p.bold {{ tile.influencer.twitter_username }}
                        p.color-red(href="") {{ tile.influencer.handle }}
                        p.tweet {{ tile.original_tweet }}

                .footer
                    span {{ tile.created_at | relativeDate }}

            .tile.adv(ng-if="tile.type=='adv'")
                h4 Advertisement
                div(data-google-ad-sense)

div(loading).spinner
    i.fa.fa-spinner.fa-spin