div
    .tile(ng-if = "!card.type", ui-sref="article.id({ id : card.id, url : card.url, " +
                                                      "return : card.returnTo, headline : card.headline })")
        .main
            h4 {{ $state.current.name }}
            img.thumbnail(ng-src='{{ card.headline_image_url }}', set-size, height='{{card.headline_image_height}}',
            width='{{card.headline_image_width}}')
            a.headline {{card.headline}}
        .influencer
            img.thumbnail(ng-src='{{ card.influencer.profile_image_url }}')
            .handle
                p.bold {{ card.influencer.twitter_username }}
                p.color-red(href="") {{ card.influencer.handle }}
                p.tweet {{ card.original_tweet }}
        .footer
            span {{ card.created_at | relativeDate }}

    .tile.adv(ng-if = "card.type == 'adv'")
        div(data-google-ad-sense)