nav.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand.tagline(href='#')
                p The Latest
                p Buzz From Real
                p People In Politics
            a.navbar-brand.logo(href='#')
                span GET
                    span.color-red POLITICS
                br
                .buzz
                    | .buzz

        ul.nav.navbar-nav.navbar-right
            li.dropdown(uib-dropdown)
                a.dropdown-toggle(href='', uib-dropdown-toggle='')
                    i.glyphicon.glyphicon-user
                    i.fa.fa-navicon.color-red
                ul.uib-dropdown-menu(aria-labelledby='simple-dropdown')
                    li(ui-sref-active='active'): a(ui-sref="news.all")
                        span GET
                        span.color-red POLITICS

                    li: a(href='')
                        span MY
                        span.color-red &nbspFEED
                        i.fa.fa-twitter

                    li.divider(role='separator')

                    li: a(href='')
                        span.color-red LOGOUT
