nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            .navbar-brand.tagline.hidden-xs
                p The Latest
                p Buzz From Real
                p People In Politics
            .navbar-brand.logo(ui-sref='front')
                span GET
                    span.color-red POLITICS
                br
                .buzz.hidden-xs
                    | .buzz

        ul.nav.navbar-right
            li.dropdown.hidden-xs(uib-dropdown)

                a.dropdown-toggle(uib-dropdown-toggle, ng-if='self.Authentication.provider.isAuthenticated()')
                    span {{ self.Authentication.provider.user.twitter_username }}
                    span.caret

                a.dropdown-toggle(uib-dropdown-toggle, ng-if='!self.Authentication.provider.isAuthenticated()')
                    i.glyphicon.glyphicon-user
                    span.caret

                ul.uib-dropdown-menu(aria-labelledby='simple-dropdown')
                    li(ui-sref-active='active'): a(ui-sref="feed.all")
                        span GET
                        span.color-red POLITICS

                    li(ui-sref-active='active'): a(ui-sref="feed.my")
                        span MY
                        span.color-red &nbspFEED
                        i.fa.fa-twitter

                    li.divider(ng-if='self.Authentication.provider.isAuthenticated()')

                    li(ng-if='self.Authentication.provider.isAuthenticated()'): a(ng-click='self.logout()')
                        span.color-red LOGOUT

            button.navbar-toggle.aside-btn.visible-xs(type='button', ng-click="self.openAside('right', true)")
                span.icon-bar
                span.icon-bar
                span.icon-bar