@import './../variables.less';

/* ==========================================================================
   News styles
   ========================================================================== */
body.feed {
  main {
    padding: 0;
    .dynamic-grid {
      display: block;
      padding: 0;
    }
    .grid {
      list-style: none;
      box-sizing: border-box;
    }
  }

  .tile {
    background-color: #e5e5e5;
    font-family: varelaround-regular;
    cursor: pointer;
    transition: 0.15s ease;
    box-shadow: 0 0 13px 0 #8c8c8c;
    .main {
      .headline {
        width: 95%;
        margin: 2.5%;
        margin-bottom: 0px;
        font-size: 22px;
        padding: 1px 0 2px 0;
        display: inline-block;
        color: #000;
        text-decoration: none;
        font-weight: bold;
      }
      .description {
        width: 95%;
        margin: 2.5%;
        margin-top: 0px;
        font-size: 14px;
        font-weight: normal;
        color: #000;
        display: inline-block;
        padding: 1px 0 8px 0;
        border-bottom: 1px solid #C2C2C2;
      }
      .thumbnail {
        padding: 0;
        margin-bottom: 0;
        border: none;
        width: 100%;
        border-radius: 0;
        transition: opacity 0.6s ease-out;
        opacity: 0;
        visibility: hidden;
        &.img-loaded{
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .influencer {
      padding: 1px 8px;
      .thumbnail {
        float: left;
        margin-right: 8px;
        display: inline-block;
      }
      .handle {
        width: 75%;
        display: inline-block;
        p.bold {
          margin: 0 0 -5px 0;
          font-size: 16px;
        }
        p.color-red {
          font-style: italic;
          font-size: 14px;
          margin-bottom: 5px;
          display: inline-block;
        }
        p.tweet {
          font-size: 15px;
          color: #000;
        }
      }
    }

    .footer {
      text-align: right;
      font-size: 10px;
      font-style: italic;
      padding: 2px 12px;
      font-family: sans-serif;
    }

    &:hover {
      transition: 0.15s ease;
      box-shadow: 0 0 20px 0 #8c8c8c;
    }
  }

  .spinner {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    .fa {
      font-size: 40px;
      color: @primary-color;
    }
  }
}

body.feed-my .connect {
  text-align: center;
  p {
    font-family: "Courier New";
    font-size: 17px;
  }
  .twitter {
    margin: 20px;
  }
}
