@import './../variables.less';
/* ==========================================================================
   Menu styles
   ========================================================================== */

menu {
  padding: 0;
  margin: 0;

  .navbar {
    border: 0;
    border-radius: 0;
    border-bottom: 4px solid red;
    padding: 22px;
    font-family: berlinSans;

    .navbar-brand {
      padding: 0;

      &.tagline {
        font-family: oswald;
        p { margin: 0 0; }
      }

      &.logo {
        cursor: pointer;
        font-size: 38px;
        position: absolute;
        width: 60%;
        left: 0;
        text-align: center;
        margin: 0 20%;
        .buzz {
          padding: 2px 7px;
          margin-top: 11px;
          border-radius: 7px;
          border: 2px solid #5e5e5e;
          background-color: #000;
          color: #fff;
          font-size: 20px;
          -webkit-transform: rotate(-7deg);
          -moz-transform: rotate(-15deg);
          -o-transform: rotate(-15deg);
          display: inline-block;
        }
      }
      &:hover { color: #777; }
    }

    .navbar-right .dropdown {
      border: none;
      .dropdown-toggle {
        color: #777;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          background: none;
          color: darken(#777, 15%);
        }

        .picture {
          width: 36px;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          top: 4px;
          &:hover { border-color: @twitter-color; }
        }
        span { margin: 0 3px 0 10px; }
        .glyphicon { font-size: 24px; }
      }
    }

    .navbar-right {
      .aside-btn {
        margin: 6px 0;
      }
    }

    .uib-dropdown-menu {
      border-radius: 6px 0 6px 6px;
      padding: 0;

      li {
        a {
          &:hover {
            background-color: #D7D7D7;
            cursor: pointer;
          }
        }
        &.active a{
          background: #000000;
          color: #fff;
        }
        .fa-twitter {
          background-color: @twitter-color;
          border-radius: 10px;
          padding: 2px 2px 2px 3px;
          color: #fff;
          margin-left: 3px;
        }
      }
    }
  }


}