@import './../variables.less';

/* ==========================================================================
   Menu styles
   ========================================================================== */
menu {
  padding: 0;
  height: 100px;
  margin: 0 0 12px 0;

  .navbar {
    border: 0;
    border-radius: 0;
    border-bottom: 4px solid red;
    padding: 22px;
    font-family: oswald;

    .navbar-brand {
      padding: 0;
      &.tagline {
        margin: 0;
        p { margin: 0 0; }
      }
      &.logo {
        font-size: 38px;
        width: 50%;
        left: 0;
        margin: 0 25%;
        .buzz {
          padding: 2px 7px;
          margin-top: 11px;
          border-radius: 7px;
          font-size: 20px;
        }
      }
      &:hover { color: #777; }
    }

    .navbar-right .dropdown {
      border: none;
      .dropdown-toggle {
        color: #777;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          background: none;
          color: darken(#777, 15%);
        }
        .glyphicon { font-size: 24px; }
      }
    }

    .uib-dropdown-menu {
      border-radius: 0;
      padding: 0;

      li {
        a {
          transition: ease-out 0.15s;
          &:hover {
            background-color: #D7D7D7;
            cursor: pointer;
            transition: ease-out 0.15s;
          }
        }
        &.active a{
          background: #000000;
          color: #fff;
        }
        .fa-twitter {
          background-color: @twitter-color;
          border-radius: 10px;
          padding: 2px 2px 2px 3px;
          color: #fff;
          margin-left: 3px;
        }
      }
    }
  }
}