@import 'variables.less';
/* ==========================================================================
   Base styles
   ========================================================================== */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, button, input, select, textarea { color: #222; }
html {
  font-size: 1em;
  line-height: 1.4;
  position: relative;
  min-height: 100%;
}

input.ng-dirty.ng-invalid {
  border: 1px solid #822;
  background-color: #fcc;
}
body {
  font-family: oswald;
  font-size: 16px;
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, img, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.color-red {
  color: @primary-color;
}
.bold {
  font-weight: bold;
}

/* ==========================================================================
   .buzz-icon
   ========================================================================== */
.buzz {
  padding: 0 7px;
  border-radius: 7px;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  display: inline-block;
  vertical-align: text-top;
  text-indent: 0;
  margin-top: -5px;
}


/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  margin: 7px 2px;
  padding: 9px 50px;
  font-size: 15px;
  position: relative;
  color: #fff;
  border: none;
  border-radius: 2px;

  .fa {
    font-size: 1.5rem;
    position: absolute;
    left: 0; top: 0; bottom: 0;
    width: 38px;
    line-height: 38px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
  }

  &.twitter {
    background: @twitter-color;
    &:hover {
      color: #fff;
      background-color: darken(@twitter-color, 10%);
    }
  }
}