@import 'variables.less';

/* ==========================================================================
   Base styles
   ========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, button, input, select, textarea { color: #222; }
html {
  font-size: 1em;
  line-height: 1.4;
  position: relative;
  min-height: 100%;
}

input.ng-dirty.ng-invalid {
  border: 1px solid #822;
  background-color: #fcc;
}
body {
  font-family: oswald;
  font-size: 16px;
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, img, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.color-red {
  color: @primary-color;
}
.bold {
  font-weight: bold;
}

.toast-top-right {
  top: auto;
}

#loading-bar .bar {
  background: @primary-color;
  top: 90px;
}

body.article {
  #loading-bar .bar { top: 0; }
}

/* ==========================================================================
   Logo
   ========================================================================== */
.logo {
  font-family: berlinSans;
  cursor: pointer;
  position: absolute;
  text-align: center;
  .buzz {
    background-color: #000;
    color: #fff;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    display: inline-block;
    border: 1px solid #c9c9c9;
  }
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  margin: 7px 2px;
  padding: 9px 87px;
  font-size: 15px;
  position: relative;
  color: #fff;
  border: none;
  border-radius: 4px;

  .fa {
    font-size: 1.5rem;
    position: absolute;
    left: 0; top: 0; bottom: 0;
    width: 40px;
    line-height: 39px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  &.twitter {
    background: @twitter-color;
    &:hover {
      color: #fff;
      background-color: darken(@twitter-color, 10%);
    }
  }
}

/* ==========================================================================
   Adv blocks
   ========================================================================== */
.adv-row {
  margin: 0;
  .col-md-8, .col-xs-12 {
    padding: 0;
    .adv-banner {
      overflow: hidden;
      background-color: #FF99D0;
      margin-bottom: 20px;
    }
  }
}

.tile.adv {
  background-color: #FF99D0 !important;
  h4 {
    padding: 20px;
  }
}