@import 'variables.less';

/* ==========================================================================
   X-Small screens from 480px
   ========================================================================== */
@media only screen and (max-width: @screen-xs) {
}

/* ==========================================================================
   Small screens from 768px
   ========================================================================== */
@media only screen and (max-width: @screen-sm) {
  menu {
    height: 50px !important;
    .navbar {
      height: 50px;

      .navbar-header {
        width: 100%;
        .navbar-brand.logo {
          font-size: 29px;
          position: fixed;
          top: 14px;
          width: auto;
          margin: 0 10px;
          .buzz {
            padding: 0 5px;
            border-radius: 6px;
            font-size: 16px;
            margin: -1px 0 0 -4px;
            vertical-align: top;
          }
        }
      }
      .navbar-right {
        .dropdown {
          margin-top: 75px;
          float: right;
        }
        .aside-btn {
          margin: -15px -25px 0 0;
        }
      }
    }
  }

  body.feed {
    .masonry-brick {
      padding: 0;
    }
  }

  body.article .container {
    .sidebar {
      width: 100%;
      height: auto;
      .fa {
        font-size: 48px;
        margin: 10px 16px;
      }
    }
  }

  #loading-bar .bar {
    top: 50px;
  }
  #loading-bar-spinner {
    top: 55px;
  }
}

/* ==========================================================================
   Medium screens from 992px
   ========================================================================== */
@media only screen and (max-width: @screen-md) {
}

/* ==========================================================================
   Large screens from 1200px
   ========================================================================== */
@media only screen and (max-width: @screen-lg) {
}