.modal-body.navigation(ng-click='cancel($event)')
    ul
        li.user(ng-if='Authentication.provider.isAuthenticated()')
            span {{ Authentication.provider.user.twitter_username }}

        li(ui-sref-active='active'): a(ui-sref="feed.all")
            span GET
            span.color-red POLITICS

        li(ui-sref-active='active'): a(ui-sref="feed.my")
            span MY
            span.color-red &nbspFEED
            i.fa.fa-twitter

        li.divider(ng-if='Authentication.provider.isAuthenticated()')

        li(ng-if='Authentication.provider.isAuthenticated()'): a(ng-click='logout()')
            span.color-red LOGOUT