doctype html

html(ng-app="buzz-web", ng-cloak)
    head
        title Get Politics
        base(href="/")
        meta(charset='utf-8')
        meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.css", type="text/css")
        link(rel="stylesheet", href="/css/styles.css", type="text/css")

    body(ng-class="$state.current.name|expandState")
        menu.clearfix(ng-if="$state.current.name != 'article.id'")

        .row
            .col-md-8.col-md-offset-2.col-xs-12
                .adv-banner
                    h2 advertisement

        main.container.fading(ui-view)

        footer.footer-area

        script(type="text/javascript").
            var CONFIG = !{ JSON.stringify(config) };
        script(type='text/javascript', src='/js/vendor.js')
        script(type='text/javascript', src='/js/all.js')