doctype html

html(ng-app="buzz-web", ng-cloak)
    head
        title Get Politics
        base(href="/")
        meta(charset='utf-8')
        meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.css", type="text/css")
        link(rel="stylesheet", href="/css/styles.css", type="text/css")
        link(rel="icon", type="image/png", href="/images/favicon.ico")
        script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

    body(ng-class="$state.current.name|expandState")
        menu(ng-if="$state.current.name != 'article.id'")

        .row.adv-row(ng-if="$state.current.name != 'article.id'")
            .col-md-8.col-md-offset-2.col-xs-12.adv-banner
                .adv-banner
                script(type='text/javascript').
                  ( function() {
                    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
                    var unit = {"calltype":"async[2]","publisher":"Getpolitics","width":550,"height":250,"sid":"Chitika Default"};
                    var placement_id = window.CHITIKA.units.length;
                    window.CHITIKA.units.push(unit);
                    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
                    }());
                  script(type='text/javascript', src='//cdn.chitika.net/getads.js', async='')

        main.container.fading(ui-view)

        footer.footer-area

        script(type="text/javascript").
            var CONFIG = !{ JSON.stringify(config) };

        script.
            (adsbygoogle = window.adsbygoogle || []).push({});
        script(type='text/javascript', src='/js/vendor.js')
        script(type='text/javascript', src='/js/all.js')
