.row
    .col-sm-6.col-sm-offset-3
        .logo
            span GET
                span.color-red POLITICS
            br
            .buzz .buzz

        .input-group
            span.input-group-addon.color-red: i.glyphicon.glyphicon-user
            input.form-control(type='text', placeholder='enter your username...', ng-model = 'login.username')
        .input-group
            span.input-group-addon.color-red: i.glyphicon.glyphicon-lock
            input.form-control(type='password', placeholder='enter your password...', ng-model = 'login.password')

        btn.btn.btn-default.buzz-in(ng-click='self.login(login)') Buzz Me In

        alert(ng-repeat="alert in self.alerts", type="alert.type", close="self.closeAlert($index)") {{alert.msg}}

        span Not a member yet?&nbsp
            a.bold(ui-sref='auth.signup') Register