.row
    .col-sm-6.col-sm-offset-3
        .logo
            span GET
                span.color-red POLITICS
            br
            .buzz .buzz


        a.btn.btn-social.twitter
            i.fa.fa-twitter
            | Connect With Twitter
        a.btn.btn-social.facebook
            i.fa.fa-facebook
            | Connect With Facebook

        span or Sign Up With Your Email Address

        .input-group
            span.input-group-addon.color-red: i.glyphicon.glyphicon-envelope
            input.form-control(type='email', placeholder='enter your email...', ng-model = 'signup.email')
        .input-group
            span.input-group-addon.color-red: i.glyphicon.glyphicon-lock
            input.form-control(type='email', placeholder='enter your password...', ng-model = 'signup.password')
        btn.btn.btn-default.buzz-up(ng-click='self.signup(signup)') Confirm My Email Address

        span Already have an account?&nbsp
            a.bold(ui-sref='auth.login') Log in!
